# (C) Copyright 2020 Hewlett Packard Enterprise Development LP
- name: api | clone the repo
  git:
    repo: "{{ input_vars.app_url }}"
    dest: /tmp/eShopOnContainers
    force: yes
  become: no

- name: api | copy the env file
  template:
    src: roles/api/templates/env.j2
    dest: /tmp/eShopOnContainers/src/.env

- name: api | Install API component
  command: chdir=/tmp/eShopOnContainers/src/ docker-compose -f docker-compose-api.yml -f docker-compose-api.override.yml build

- name: api | Bring up API server
  command: chdir=/tmp/eShopOnContainers/src/ docker-compose -f docker-compose-api.yml -f docker-compose-api.override.yml up -d
